<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Change password</h1>
        </div>
        <?php if(!empty($error)): ?>
        <div class="alert alert-error"><?= $this->escapeHtml($error) ?></div>
        <?php endif; ?>
        <form class="form-horizontal" method="post" role="form">
            <div class="form-group <?php if(!empty($passwordError)) echo 'has-error' ?>">
                <label class="col-sm-2 control-label" for="inputNewPassword">New password</label>
                <div class="col-sm-4">
                    <input type="password" name="password" class="form-control" id="inputNewPassword">
                    <?php if(!empty($newPwdError)): ?>
                    <span class="help-block">Can't be empty</span>
                    <?php endif; ?>
                </div>
            </div>
            <div class="form-group <?php if(!empty($confirmError)) echo 'has-error' ?>">
                <label class="col-sm-2 control-label" for="inputConfirmPassword">Confirm password</label>
                <div class="col-sm-4">
                    <input type="password" name="confirm" class="form-control" id="inputConfirmPassword">
                    <?php if(!empty($confirmNewPwdError)): ?>
                    <span class="help-block">Wrong password</span>
                    <?php endif; ?>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2  col-sm-4">
                    <button type="submit" class="btn btn-primary">Change</button>
                    <button type="button" class="btn btn-default" onclick="history.go(-1); return false;">Back</button>
                </div>
            </div>
        </form>
    </div>
</div>