<!DOCTYPE html>
<html>
    <head>
        <title>PHDays BankF</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="/css/index.mobile.css" rel="stylesheet" media="screen">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default" role="navigation" style="margin-top: 20px;">
                <a class="navbar-brand" href="/">PHDays BankF</a>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <?php if (!isset($controller)) $controller = '' ?>

                    <li class="<?php if ($controller == 'account') echo 'active' ?>"><a href="/account">Account</a></li>
                        <?php if ($controller == 'payments'): ?>
                            <li class="active">
                                <a href="/payments">Payments <span class="glyphicon glyphicon-chevron-right"></span></a>
                            </li>
                            <li class="subnav">
                                <a href="/payments/create">Transfer</a>
                            </li>
                            <li class="subnav">
                                <a href="/payments/history">History</a>
                            </li>
                            <li class="subnav">
                                <a href="/payments/templates">Templates</a>
                            </li>
                        <?php else: ?>
                            <li>
                                <a href="/payments">Payments</a>
                            </li>
                        <?php endif ?>
                </ul>
            </div>
            <?php if (!empty($income)) echo $this->showIncome($income); ?>
            <?= $content ?>
        </div>
    </body>
</html>