<!DOCTYPE html>
<html>
    <head>
        <title>PHDays BankF</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="/css/index.css" rel="stylesheet" media="screen">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            <div class="navbar navbar-default" style="margin-top: 20px;">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="navbar-link" href="/index/switchInterface/">
                            <span class="glyphicon glyphicon-repeat"></span> Switch to full version
                        </a>
                    </li>
                </ul>

                <a class="navbar-brand" href="/">PHDays BankF</a>
            </div>
            <?= $content ?>
        </div>
    </body>
</html>