<!DOCTYPE html>
<html>
    <head>
        <title>PHDays BankF</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/index.css" rel="stylesheet" media="screen">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="wrap">

            <header class="overview jumbotron" style="background-image: url(/img/background.jpg)">

                <div class="container">
                    <h1>PHDays BankF Pro</h1>
                    <p>
                        Security is our profession 
                    </p>
                </div>
            </header>
            <div class="container">
                <?= $content ?>
            </div>

            <div id="push"></div>
        </div>

        <div id="footer" style="background-image: url(/img/background.jpg)">
            <div class="container">
                <p class="muted credit">
                    &copy; 2016 PHDays BankF
                </p>
            </div>
        </div>
    </body>
</html>