<!DOCTYPE html>
<html>
    <head>
        <title>PHDays BankF</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="5"> 
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/index.css" rel="stylesheet" media="screen">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="wrap">
            <div class="navbar navbar-default">
                <div class="container">
                    <a class="navbar-brand" href="/">PHDays BankF</a>
                </div>
            </div>
            <div class="container">
                <?= $content ?>
            </div>

            <div id="push"></div>
        </div>

        <div id="footer">
            <div class="container">
                <p class="muted credit">
                    &copy; 2016 PHDays BankF
                </p>
            </div>
        </div>
    </body>
</html>