<style>
    table tr td:first-child {
        text-align: right;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Current status</h1>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1 text-right">#</th>
                    <th>Login</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <?php $i = 1;?>
            <?php foreach ($users as $user): ?>
            <tr>
                <td>
                    <?= $i++; ?>
                </td>
                <td>
                    <?= $this->escapeHtml($user['login']); ?>
                </td>
                <td>
                    <?= round($user['balance'], 2); ?> Rub
                </td>
            </tr>
            <?php endforeach; ?>
            <tr>
                <td>&nbsp;
                </td>
                <td>
                    Other users
                </td>
                <td>
                    <?= round($other, 2); ?> Rub
                </td>
            </tr>
        </table>
    </div>
</div>