<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Process transaction</h1>
        </div>
        <?php if (!empty($error)): ?>
        <div class="alert alert-error">
            <?php if ($error == 'InsufficientFunds'): ?>
            Not enough funds for transaction
            <?php endif; ?>
        </div>
        <a class="btn" href="#" onclick="history.go(-1); return false;">
            <i class="icon-arrow-left"></i>
            Go back
        </a>
        <?php endif; ?>

    </div>
</div>