<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <div class="pull-right">
                <a class="btn btn-success iconfix" href="/payments/addTemplate">
                    <span class="glyphicon glyphicon-plus"></span>Add
                </a>
            </div>
            <h1>Payments templates</h1>
        </div>
        <?php if (!count($templates)): ?>
            <div class="alert alert-info">You havn't added any template</div>
        <?php else: ?>
            <table class="table table-striped transaction-templates">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Sum</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($templates as $template): ?>
                        <tr>
                            <td><?= $this->escapeHtml($template->getName()) ?></td>
                            <td><?php
                                $from = $template->getFrom();
                                echo $this->escapeHtml($accounts[$from]->getNumber());
                                ?></td>
                            <td><?= $this->escapeHtml($template->getTo()) ?></td>
                            <td>
                                <div class="pull-right">
                                    <a href="/payments/startFromTemplate/id/<?= $template->getId() ?>" title="Pay" class="show-on-hover"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                    <a href="/payments/editTemplate/id/<?= $template->getId() ?>" title="Edit" class="show-on-hover"><span class="glyphicon glyphicon-edit"></span></a>
                                    <a href="/payments/deleteTemplate/id/<?= $template->getId() ?>" title="Delete" class="show-on-hover"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                                <?= $template->getSum() ?> <?= $this->currencySymbol($accounts[$from]->getCurrency()) ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        <?php endif; ?>
    </div>
</div>