<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1><?= $header ?></h1>
        </div>
        <div class="alert alert-error"><?= $message ?></div>
        <a class="btn btn-default" href="#" onclick="history.go(-1); return false;">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Go back
        </a>

        <?php if (isset($exception)) : ?>
            <pre style="margin-top: 20px;"><?= $this->escapeHtml($exception) ?></pre>
        <?php endif; ?>

    </div>
</div>