<div class="row">
    <div class="col-md-12">
        <ul class="pagination pull-right">
            <?php if ($page > 1): ?>
            <li><a href="/operator/index/page/<?= $this->escapeHtml($page - 1) ?>">&laquo;</a></li>
            <?php else: ?>
            <li class="disabled"><a href="#">&laquo;</a></li>
            <?php endif ?>
            <li class="active"><a href="#">Page <?= $this->escapeHtml($page) ?> of <?= ceil($count/$limit)?></a></li>
            <?php if ($count > $limit * $page): ?>
            <li><a href="/operator/index/page/<?= $this->escapeHtml($page + 1) ?>">&raquo;</a></li>
            <?php else: ?>
            <li class="disabled"><a href="#">&raquo;</a></li>
            <?php endif ?>
        </ul>

        <h1>Users</h1>
        <div class="list-group">
            <?php foreach ($users as $user): ?>
                <a href="/operator/userinfo/id/<?= $user->getId() ?>" class="list-group-item">
                    <?= $this->escapeHtml("{$user->getLogin()} - {$user->getFirstName()} {$user->getLastName()}") ?>
                </a>
            <?php endforeach; ?>
        </div>
    </div>
</div>